@{
  ViewData["Title"] = "Create Review";
}

@model TravelClient.Models.Review

<h4>Add a new review to travel client</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Destination)
  @Html.TextBoxFor(model => model.Destination, new { @class = "form-control" })
  <br>
  @Html.LabelFor(model => model.Country)
  @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
  <br>
  @Html.LabelFor(model => model.City)
  @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
  <br>
  @Html.LabelFor(model => model.Address)
  @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
  <br>
  @Html.LabelFor(model => model.UserName)
  @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
  <br>
  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating, new { @class = "form-control" })
  <br>
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
  <br>
  @Html.LabelFor(model => model.Date)
  @Html.EditorFor(model => model.Date)
  <br>
  <br>
  <input type="submit" value="Add new review" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Back to all reviews", "Index")</p>


