@{
  ViewData["Title"] = $"Details for {Model.Destination}";
}

<h1>All About @Model.Destination</h1>
<hr>
<p>Country: @Model.Country</p>
<p>City: @Model.City</p>
<p>Address: @Model.Address</p>
<p>Rating: @Model.Rating</p>
<p>Description: @Model.Description</p>
<hr>
<p>Review Name: @Model.UserName</p>
<p>Review Post Date: @Model.Date</p>

<br>
<p>@Html.ActionLink("Return to all reviews", "Index")</p>
<p>@Html.ActionLink("Edit Review", "Edit", new { id = @Model.ReviewId })</p>
<p>@Html.ActionLink("Delete Review", "Delete", new { id = @Model.ReviewId })</p>